.MainLayout {
    display: grid;

    grid-template-columns: 300px 1fr 250px;
    grid-template-rows: 80px 1fr 120px;

    grid-template-areas:
        "menu menu menu"
        "sidebar content content"
        "footer footer footer";

    min-height: 100vh;
}

.HeaderMenu {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    background-color: #fff;
    grid-area: menu;
    position: sticky;
    top: 0;
    z-index: 100;
}

.SideBar {
    grid-area: sidebar;
    padding-top: 20px;
}

.MainContent {
    margin: 0 20px;
    grid-area: content;
    background-color: #efeeee;
    z-index: 2;
}

.Footer {
    grid-area: footer;
    z-index: 11;
}