.Maincontainer {
  width: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
}
.title {
  font-size: 48px;
  padding: 10px 0 20px 20px;
  margin: 0;
}
.layout {
  display: flex;
  justify-content: space-around;
}
.cardContainer {
}

button {
  all: unset;
}
.card {
  width: 700px;
  height: 200px;
  display: flex;
  text-align: center;
  position: relative;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  /* прозрачность */
  backdrop-filter: blur(10px);
  /* размытие */
  -webkit-backdrop-filter: blur(10px);
  /* для Safari */
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
.img {
  margin: 10px 0 0 10px;
  width: 170px;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}
.info {
  margin: 10px 0 0 20px;
  width: 500px;
  text-align: start;
}
.name {
  font-size: 22px;
  margin-top: 20px;
}
.descriptionOne {
  width: 150px;
  display: flex;
  justify-content: space-around;
}
.descriptionTop {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 25px;
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
}
.descriptionTwo {
  width: 300px;
  display: flex;
  justify-content: space-around;
}
.descriptionBottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background: rgba(255, 255, 255, 0.1);
  /* прозрачность */
  backdrop-filter: blur(10px);
  /* размытие */
  -webkit-backdrop-filter: blur(10px);
  /* для Safari */
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
.descText {
  padding: 5px;
}
.descIcon {
  padding-left: 10px;
  width: 20px;
  height: 20px;
}
.container {
  margin-top: 15px;
  max-width: 200px;
  font-size: 14px;
  word-wrap: break-word;
  list-style: none;
}
.icon {
  width: 20px;
  height: 20px;
}
.price {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0 20px;
}
.btnContainer {
  position: absolute;
  bottom: 15px;
  right: 10px;
  display: flex;
  justify-content: space-around;
  width: 170px;
}
.btnText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 16px;
  color: #fff;
  background-color: rgb(248, 139, 62);
  border-radius: 10px;
  border: none;
}
.btnText:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
.favoriteBtn:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
.favoriteIcon:hover {
  transition: all 0.5s;
  fill: rgb(255, 0, 0);
}
.favoriteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  /* прозрачность */
  backdrop-filter: blur(10px);
  /* размытие */
  -webkit-backdrop-filter: blur(10px);
  /* для Safari */
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
.favoriteIcon {
  fill: rgb(171, 171, 170);
  width: 25px;
  height: 25px;
}
