.container{
    margin: 30px auto;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(5, 1fr);
    width: 1100px;
    gap: 20px;
}
.card{
    position: relative;
    display: block;
    background: rgba(255, 255, 255, 0.1);
    /* прозрачность */
    backdrop-filter: blur(10px);
    /* размытие */
    -webkit-backdrop-filter: blur(10px);
    /* для Safari */
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 100px;
    border-radius: 15px;
}
.logoContainer{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 120px;
    height: 60px;
    object-fit: contain;
}
.title{
    font-size: 16px;
}
.btnContainer{
    height: 30px;
    margin-top: 5px;
    display: flex;
    align-items: bottom;
    justify-content: center;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    background-color:  rgb(248, 139, 62);
    border-radius: 10px;
}
.link:hover{
    transition: all 0.3s;
    transform: scaleY(1.1);
}